@model RoleResponse
@{
    ViewData["Title"] = "RoleWithUsers";
}

<div class="pd-ltr-20 xs-pd-20-10">
    <div class="min-height-200px">
        <div class="page-header">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="title">
                        <h4>Roller</h4>
                    </div>
                    <nav aria-label="breadcrumb" role="navigation">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Anasayfa</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Roller</li>
                        </ol>
                    </nav>
                </div>
                <div class="col-md-6 col-sm-12">
                    <button type="button" class="btn btn-light" data-toggle="modal" data-target="#modalRole">Kullanıcı Ekle</button>
                </div>
            </div>
        </div>

        <div class="card-box height-100-p overflow-hidden">
            <div class="profile-tab height-100-p">
                <div class="tab height-100-p">
                    <ul class="nav nav-tabs customtab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#role" role="tab">@Model.Name</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tasks" role="tab">Tasks</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <!-- Department Tab start -->
                        <div class="tab-pane fade show active" id="role" role="tabpanel">
                            <div class="profile-setting">
                                <table class="data-table table stripe hover nowrap mb-30">
                                    <thead>
                                        <tr>
                                            <th class="table-plus datatable-nosort">Ad Soyad</th>
                                            <th>Email</th>
                                            <th>Telefon Numarası</th>
                                            <th>Doğum Tarihi</th>
                                            <th class="datatable-nosort">İşlemler</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var user in Model.ApplicationUsers)
                                        {
                                        <tr>
                                            <td class="table-plus">@(user.FirstName+" "+user.LastName)</td>
                                            <td>@user.Email</td>
                                            <td>@user.PhoneNumber</td>
                                            @if (user.BirthDate != null)
                                            {
                                                <td>@user.BirthDate.Value.ToString("MM/dd/yyyy")</td>
                                            }
                                            else
                                            {
                                                <td></td>
                                            }
                                            <td>
                                                <div class="dropdown">
                                                    <a class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                                                        <i class="dw dw-more"></i>
                                                    </a>
                                                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
                                                        <a class="dropdown-item" href="/ProfileInfo/UserProfile/@user.Id"><i class="dw dw-eye"></i> Profil Görüntüle</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>

                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- Department Tab End -->
                        <!-- Tasks Tab start -->
                        <div class="tab-pane fade" id="tasks" role="tabpanel">
                            <p>@Model.Id</p>
                        </div>
                        <!-- Tasks Tab End -->
                    </div>
                </div>
            </div>
        </div>     
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

