@model List<ProjectResponse> 
@{
    ViewData["Title"] = "MyProjects";
    var appUser = Context.Session.GetObject<AppUser>("activeUser");
}

<div class="pd-ltr-20 xs-pd-20-10">
    <div class="min-height-200px">
        <div class="page-header">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="title">
                        <h4>Projeler</h4>
                    </div>
                    <nav aria-label="breadcrumb" role="navigation">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Anasayfa</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Projeler</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>

        <!-- Simple Datatable start -->
        <div class="card-box mb-30">
            <div class="pd-20">
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="text-blue h4">Projeler</h4>
                    </div>
                </div>

            </div>

            <div class="pb-20">
                <table class="data-table table stripe hover nowrap" id="table123">
                    <thead>
                        <tr>
                            <th class="table-plus datatable-nosort">Proje Başlık</th>
                            <th>Açıklama</th>
                            <th>Öncelik</th>
                            <th>Başlangıç Tarihi</th>
                            <th>Bitiş Tarihi</th>
                            <th>Oluşturan</th>
                            <th class="datatable-nosort">İşlemler</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var project in Model)
                        {
                            <tr>
                                <td class="table-plus">@project.Title</td>
                                <td>@Html.Raw(project.Description)</td>
                                <td>
                                    @if (project.Priority == 0)
                                    {

                                    }
                                    else
                                    {
                                        @project.Priority.ToString();
                                    }
                                </td>
                                <td>@project.StartDate.ToString("dd MMMM yyyy")</td>
                                <td>@project.EndDate.ToString("dd MMMM yyyy")</td>
                                <td>@project.CreateBy</td>
                                <td>
                                    <div class="dropdown">
                                        <a class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                                            <i class="dw dw-more"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
                                            <a class="dropdown-item" href="/Project/ProjectDetails/@project.Id"><i class="dw dw-eye"></i> Detay Görüntüle</a>

                                            @if (project.Leader != null)
                                            {
                                                @if (project.Leader.ApplicationUserId == appUser.Id)
                                                {
                                                    <a href="/Project/EditProject/@project.Id" class="btn btn-light"><i class="dw dw-pencil"></i>Proje Güncelle</a>
                                                    <a class="dropdown-item" href="/Project/DeleteProject/@project.Id" onclick="return confirm('Bu projeyi silmek istediğinize emin misiniz?');">
                                                        <i class="dw dw-delete"></i>
                                                        Sil
                                                    </a>
                                                }
                                            }

                                        </div>
                                    </div>
                                </td>
                            </tr>

                        }
                    </tbody>
                </table>
            </div>


        </div>
        <!-- Simple Datatable End -->


    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

