@model Hfttf.TaskManagement.UI.Models.User.UserResponse


<div class="profile-setting">
    <a onclick="showInPopupEmergency('@Url.Action("AddOrEditEmergencyContact","ProfileInfo",null,Context.Request.Scheme)', 'Acil İletişim Bilgisi Ekle')" class="btn btn-light"><i class="fa fa-plus"></i>Ekle</a>
    @foreach (var emergency in Model.EmergencyContactInfos)
    {
        <a onclick="showInPopupEmergency('@Url.Action("AddOrEditEmergencyContact","ProfileInfo",new {id=emergency.Id},Context.Request.Scheme)','Acil İletişim Bilgisi Güncelle')" class="btn btn-light"><i class="fa fa-pencil"></i>Düzenle</a>
        <ul class="mb-10 mt-15">
            <li>
                <span>Ad Soyad: </span>
                @emergency.Name
            </li>
            <li>
                <span>Telefon Numarası: </span>
                @emergency.Phone
            </li>
            <li>
                <span>Yakınlık Durumu: </span>
                @emergency.RelationShip
            </li>
        </ul>
        <hr />
    }
</div>
