@model Hfttf.TaskManagement.UI.Models.User.UserResponse


<div class="profile-setting">
    @*<a asp-action="InsertAddress" class="btn btn-light"><i class="fa fa-pencil"></i></a>*@
    @*<button type="button" data-toggle="ajax-modal" data-target="#insertAddress" data-url="@Url.Action("InsertAddress")" class="btn btn-light ml-8"><i class="fa fa-pencil"></i></button>*@
    <a onclick="showInPopupBankInfo('@Url.Action("AddOrEditBankInformation","ProfileInfo",null,Context.Request.Scheme)', 'Banka Bilgisi Ekle')" class="btn btn-info btn-sm"><i class="fa fa-plus"></i>Ekle</a>
    @foreach (var bankInformation in Model.BankInformations)
    {
        <a onclick="showInPopupBankInfo('@Url.Action("AddOrEditBankInformation","ProfileInfo",new {id=bankInformation.Id},Context.Request.Scheme)','Banka Bilgisi Güncelle')" class="btn btn-light btn-sm"><i class="fa fa-pencil"></i>Düzenle</a>
        @*<a href="/ProfileInfo/EditProfile" class="edit-avatar"><i class="icon-copy fa fa-pencil" aria-hidden="true">Düzenle</i></a>*@
        <form asp-action="DeleteBankInformation" asp-route-id="@bankInformation.Id" onsubmit="return jQueryAjaxDeleteBankInfo(this)" class="d-inline">
            <input type="hidden" asp-for="@bankInformation.Id" />
            <input type="submit" value="Sil" class="btn btn-light btn-sm" />
        </form>
        <ul class="mb-10 mt-15">
            <li>
                <span class="text-blue">Banka Adı: </span>
                @bankInformation.BankName
            </li>
            <li>
                <span class="text-blue">Hesap Numarası: </span>
                @bankInformation.AccountNo
            </li>
            <li>
                <span class="text-blue">IBAN Numarası: </span>
                @bankInformation.IBANNo
            </li>
        </ul>
        <hr />
    }
</div>