@model Hfttf.TaskManagement.UI.Models.User.UserResponse


<div class="profile-setting">
    @*<a asp-action="InsertAddress" class="btn btn-light"><i class="fa fa-pencil"></i></a>*@
    @*<button type="button" data-toggle="ajax-modal" data-target="#insertAddress" data-url="@Url.Action("InsertAddress")" class="btn btn-light ml-8"><i class="fa fa-pencil"></i></button>*@
    <a onclick="showInPopupEducation('@Url.Action("AddOrEditEducation","ProfileInfo",null,Context.Request.Scheme)', 'Eğitim Bilgisi Ekle')" class="btn btn-info btn-sm"><i class="fa fa-plus"></i>Ekle</a>
    @foreach (var educationInformation in Model.EducationInformations)
    {
        <a onclick="showInPopupEducation('@Url.Action("AddOrEditEducation","ProfileInfo",new {id=educationInformation.Id},Context.Request.Scheme)','Eğitim Bilgisi Güncelle')" class="btn btn-light btn-sm"><i class="fa fa-pencil"></i>Düzenle</a>
        @*<a href="/ProfileInfo/EditProfile" class="edit-avatar"><i class="icon-copy fa fa-pencil" aria-hidden="true">Düzenle</i></a>*@
        <form asp-action="DeleteEducation" asp-route-id="@educationInformation.Id" onsubmit="return jQueryAjaxDeleteEducation(this)" class="d-inline">
            <input type="hidden" asp-for="@educationInformation.Id" />
            <input type="submit" value="Sil" class="btn btn-light btn-sm" />
        </form>
        <ul class="mb-10 mt-15">
            <li>
                <span class="text-blue">Okul Adı: </span>
                @educationInformation.SchoolName
            </li>
            <li>
                <span class="text-blue">Bölüm: </span>
                @educationInformation.Section
            </li>
            <li>
                <span class="text-blue">Başlangıç Tarihi: </span>
                @educationInformation.StartDate
            </li>
            <li>
                <span class="text-blue">Bitiş Tarihi: </span>
                @educationInformation.EndDate
            </li>
        </ul>
        <hr />
    }
</div>