@model AddressResponse
@{
    Layout = "_Layout";
}

<a asp-action="Create" class="btn btn-primary btn-sm my-2">
    Yeni ürün ekle
</a>
<table class="table table-sm table-bordered">
    <tbody>
            <tr>
                <td>@Model.Id</td>
                <td>@Model.City</td>
                <td>@Model.Country</td>
                <td>@Model.Description</td>
                <td>@Model.ZipCode</td>

            </tr>
    </tbody>
</table>
