@model List<AddressResponse>
@{
    Layout = "_Layout";
}

<a asp-action="Create" class="btn btn-primary btn-sm my-2">
    Yeni ürün ekle
</a>
<table class="table table-sm table-bordered">
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.Id</td>
            <td>@item.City</td>
            <td>@item.Country</td>
            <td>@item.Description</td>
            <td>@item.ZipCode</td>
            <td>@item.ApplicationUser.Email</td>
            <td>@item.ApplicationUser.UserName</td>

        </tr>
        }

    </tbody>
</table>
